@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');


body {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(8, 31, 107) 60%, rgba(13,19,124,1) 100%);
  color: #ffff
}

.container {
  max-width: 90%;
}

#main_title {
  font-family: 'Slabo 27px', serif;
  letter-spacing: 1.5px;
  padding-left: 0;
}

#main_title_icon {
  width:45px;
  height: 45px;
  margin: 0 15px 5px 0;
}

.priceDown {
  border-radius: 2px;
  animation: fadeDown 2s forwards;
  background-color:rgb(240, 62, 62);
}

@keyframes fadeDown {
  from {background-color:rgb(240, 62, 62);}
  to {background-color:rgba(242, 245, 169, 0);}
}

.priceUp {
  border-radius: 2px;
  animation: fadeUp 2s forwards;
  background-color:rgb(62, 240, 77);
}

@keyframes fadeUp {
  from {  background-color:rgb(62, 240, 77);}
  to {background-color:rgba(242, 245, 169, 0);}
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #343292;
  }
  40% {
      stroke: #f5f8fd;
  }
  66% {
      stroke: #a2eaf3;
  }
  80%,
  90% {
      stroke: #6a22a5;
  }
}

.coinsDatatable .p-datatable-tbody .p-column-title {
  display: none;
}

.filterInput {
  width: 25%;
}

.marketCapRank {
  width: 3em;
}

.chartExpand {
  width: 3em;
  padding-left: 1px;
}


@media screen and (max-width: 800px) {
  .filterInput {
    width: 100%;
  }
  .coinsDatatable .p-datatable-thead > tr > th,
  .coinsDatatable .p-datatable-thead > tr > td{
      display: none !important;
  }

  .coinsDatatable  .p-datatable-tbody tr > th,
  .coinsDatatable  .p-datatable-tbody tr > td {
    text-align: left;
    display: block;
    margin-left: 5%;
    width: 100%;
    float: left;
    clear: left;
    border: 0 none;   
  }

  .coinsDatatable .p-datatable-tbody > tr > td .p-column-title {
    padding: .4rem;
    min-width: 40%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4rem;
    font-weight: bold;
  }  

  .marketCapRank {
    width: auto;
  }

  .coinsDatatable .p-datatable-tbody > tr{
    display: flex;
    flex-direction: column;
  }

  .coinsDatatable .p-datatable-tbody > tr :nth-child(1)  /* Ranking */    { order: 1; }
  .coinsDatatable .p-datatable-tbody > tr :nth-child(2)  /* Expand */     { order: 6; }
  .coinsDatatable .p-datatable-tbody > tr :nth-child(3)  /* Coin */       { order: 2; }
  .coinsDatatable .p-datatable-tbody > tr :nth-child(4)  /* Price */      { order: 3; }
  .coinsDatatable .p-datatable-tbody > tr :nth-child(5)  /* 24h Change */ { order: 4; }
  .coinsDatatable .p-datatable-tbody > tr :nth-child(6)  /* Market Cap */ { order: 5; }

  .coinsDatatable .p-datatable-tbody > tr > td:nth-child(2) {
    border-bottom: 2px solid var(--surface-d);
    width: 90%;
  }

  .coinsDatatable  .p-datatable-tbody .p-row-expanded  td {
    margin-left: 0;
    position: relative;
  }

  .coinsDatatable  .p-datatable-tbody .p-row-expanded  td::before {
    content : "";
    position: absolute;
    left    : 5%;
    bottom  : 0;
    width   : 90%;  /* or 100px */
    border-bottom: 2px solid var(--surface-d);
  }
} 